<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="logfile" xsi:type="File"
            encoding="utf-8"
            archiveAboveSize="104857600" maxArchiveFiles="60"
            fileName="${basedir}/logs/${shortdate}/${level}.log"
            layout="${longdate} [${threadid}] ${callsite:fileName=true:className=true:methodName=true:includeSourcePath=false:includeNamespace=false:skipFrames=1} ${message} ${exception:format=ToString}${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>